footer{
    
    padding:50px 100px;
    display: flex;
    justify-content: space-between;
}

footer ul{
    list-style: none;
    display: flex;
}
footer li{
    margin-left: 20px;
}

footer ul li a{
    text-decoration: none;
    color:#00376B;
    font-size: 12px;
    font-weight: 600;
}

.haha{
    color:#8E8E8E;
    font-size: 14px;
    font-weight: 18px;
}

